@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&family=Nunito:wght@200;300;400;500;600;700;800;900;1000&display=swap");
* {
  font-family: "Comfortaa", cursive;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-transform: capitalize;
  outline: 0.1rem dotted red;
  transition: all linear 0.5s;
}

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

html::-webkit-scrollbar {
  width: 0.5rem;
}

html::-webkit-scrollbar-track {
  background-color: transparent;
}

html::-webkit-scrollbar-thumb {
  background-color: #F71735;
  border-radius: 0.4rem;
}

body {
  background-color: #11151C;
  min-height: 100vh;
  width: 100%;
}

section {
  padding: 5rem 9%;
}

@-webkit-keyframes arrow {
  0% {
    top: 10px;
    opacity: 1;
  }
  50% {
    top: 30px;
    opacity: 0.7;
  }
  100% {
    top: 50px;
    opacity: 0;
  }
}

@keyframes arrow {
  0% {
    top: 10px;
    opacity: 1;
  }
  50% {
    top: 30px;
    opacity: 0.7;
  }
  100% {
    top: 50px;
    opacity: 0;
  }
}
@-webkit-keyframes emoji {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(45deg);
  }
  50% {
    transform: rotate(90deg);
  }
  75% {
    transform: rotate(45deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
@keyframes emoji {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(45deg);
  }
  50% {
    transform: rotate(90deg);
  }
  75% {
    transform: rotate(45deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
.checkbox {
  width: 10rem;
  height: 3rem;
  background-color: #d0d0d0;
  border-radius: 30px;
  position: relative;
  color: black;
  overflow: hidden;
}

#checkbox_toggle {
  display: none;
}

.checkbox .toggle {
  width: 4.5rem;
  height: 1.9rem;
  position: absolute;
  border-radius: 30px;
  left: 0;
  right: 1;
  cursor: pointer;
  background: linear-gradient(40deg, #FF0080, #FF8C00 70%);
  transition: 0.4s;
  box-shadow: 0px 0px 10px rgb(255, 255, 20), 0px 0px 30px rgb(255, 255, 20);
}

.checkbox .slide {
  width: 10rem;
  height: 3rem;
  display: flex;
  align-items: center;
  justify-content: space-around;
  cursor: pointer;
}

.checkbox .slide .text {
  font-size: 16px;
  font-weight: 200;
  z-index: 10;
  cursor: pointer;
}

.check:checked + .checkbox .slide .toggle {
  transform: translateX(90px);
  background: linear-gradient(40deg, #8983F7, #A3DAFB 70%);
  box-shadow: 0px 0px 10px #8983F7, 0px 0px 30px #8983F7;
}

.check:checked + .checkbox .slide {
  background-color: #0a1929;
  color: #fff;
}

nav {
  display: flex;
  z-index: 100;
  align-items: center;
  justify-content: space-around;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  border-bottom: 0.2rem solid rgba(187, 182, 204, 0.1);
}
nav .menu-btn i {
  font-size: 2rem;
  padding: 0.8rem;
}
nav .logo {
  width: 20rem;
  height: 5rem;
}
nav .logo img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
}

#main {
  display: flex;
  align-items: center;
  background-position: center;
  background-size: contain;
  width: 100%;
  min-height: 100vh;
  background-image: linear-gradient(90deg, rgba(17, 21, 28, 0.99) 0%, rgba(17, 21, 28, 0.8) 52%, rgba(187, 182, 204, 0.1) 100%), url("../images/home-img.png");
  background-repeat: no-repeat;
}
#main .details-container {
  min-height: 35rem;
  padding: 1rem;
  display: flex;
  gap: 1rem;
  flex-direction: column;
  justify-content: space-between;
  width: 70%;
}
#main .details-container .details {
  color: white;
}
#main .details-container .details h1 {
  font-weight: 800;
  font-size: 7rem;
  padding: 1rem;
  background: linear-gradient(to right, #ef3b36, #ffffff);
  -webkit-background-clip: text;
          background-clip: text;
  -webkit-text-fill-color: transparent;
}
#main .details-container .details h1 span {
  -webkit-text-fill-color: initial;
}
#main .details-container .para p {
  font-weight: 800;
  font-size: 3rem;
  padding: 1rem;
  background-image: linear-gradient(to right, #1c92d2, #f2fcfe);
  -webkit-background-clip: text;
          background-clip: text;
  -webkit-text-fill-color: transparent;
}
#main .details-container .arrow-side {
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
#main .details-container .arrow-side .weird-arrow-box {
  border: 0.1rem solid #F71735;
  position: relative;
  border-radius: 50%;
  height: 10rem;
  width: 10rem;
}
#main .details-container .arrow-side .weird-arrow-box img {
  position: absolute;
  height: 5rem;
  top: 0;
  left: 3.5rem;
  -webkit-animation: arrow 2s linear infinite;
          animation: arrow 2s linear infinite;
}
#main .details-container .arrow-side .view-projects-lnk a {
  color: #F71735;
  text-decoration: none;
  padding: 0.8rem;
  font-weight: 700;
  font-size: 1.4rem;
}

#about {
  width: 100vw;
  height: 100%;
}
#about .about-container {
  display: flex;
  gap: 4rem;
}
#about .about-container .about-img-side {
  width: 40%;
}
#about .about-container .about-img-side img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
}
#about .about-container .about-details-side {
  width: 60%;
  cursor: pointer;
  padding: 0.8rem;
  display: flex;
  gap: 1rem;
  flex-direction: column;
}
#about .about-container .about-details-side h1 {
  font-size: 3rem;
  font-weight: 800;
  color: white;
}
#about .about-container .about-details-side .itachi {
  color: #F71735;
  font-weight: 800;
  line-height: 1.3;
  font-size: 1.2rem;
}
#about .about-container .about-details-side .name {
  color: #F71735;
  font-weight: 800;
  font-size: 1.3rem;
}
#about .about-container .about-details-side .naruto-facts {
  color: white;
}
#about .about-container .about-details-side .naruto-facts a {
  text-decoration: none;
  color: #F71735;
  text-transform: capitalize;
  font-weight: 700;
}

#my-projects {
  width: 100%;
  min-width: 100%;
}
#my-projects .my-project-container {
  display: flex;
  flex-direction: column;
  gap: 8rem;
}
#my-projects .my-project-container .heading {
  color: white;
}
#my-projects .my-project-container .heading h1 {
  font-size: 3rem;
  margin-bottom: 2rem;
}
#my-projects .my-project-container .project-box {
  background-color: #1c92d2;
  height: 80vh;
  display: flex;
  justify-content: space-between;
}
#my-projects .my-project-container .project-box .image-description {
  width: 45%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 5%;
  gap: 1.5rem;
}
#my-projects .my-project-container .project-box .image-description h1 {
  color: white;
  font-size: 2rem;
  font-weight: 800;
}
#my-projects .my-project-container .project-box .image-description p {
  color: gray;
  line-height: 1.5;
}
#my-projects .my-project-container .project-box .image-description button {
  width: 14rem;
  height: 2rem;
  border: none;
  background: transparent;
}
#my-projects .my-project-container .project-box .image-description button a {
  text-decoration: none;
  font-size: 1.3rem;
  color: #F71735;
  margin-right: 1rem;
}
#my-projects .my-project-container .project-box .image-description button i {
  color: #F71735;
  font-size: 1.3rem;
}
#my-projects .my-project-container .project-box .image-description button:hover i {
  transform: translateX(1rem);
}
#my-projects .my-project-container .project-box .img-sides {
  width: 50%;
  overflow: hidden;
}
#my-projects .my-project-container .project-box .img-sides img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
}
#my-projects .my-project-container .project-box .img-sides:hover img {
  transform: scale(1.2);
}

#languages {
  width: 100%;
  min-width: 100%;
}
#languages .language-box {
  padding: 2rem;
  display: flex;
  gap: 4rem;
  flex-direction: column;
}
#languages .language-box .heading {
  color: white;
}
#languages .language-box .heading h1 {
  font-size: 3rem;
  margin-bottom: 2rem;
}
#languages .language-box .p {
  color: white;
  line-height: 2;
  font-weight: 700;
  margin-bottom: 2rem;
}
#languages .language-box .lang-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 2rem;
}
#languages .language-box .lang-grid .lang-img {
  height: 9rem;
  background-color: transparent;
}
#languages .language-box .lang-grid .lang-img img {
  -o-object-fit: contain;
     object-fit: contain;
  width: 100%;
  height: 100%;
  opacity: 0.3;
  filter: grayscale(1);
}
#languages .language-box .lang-grid .lang-img img:hover {
  opacity: 1;
  filter: grayscale(0);
}

#blog {
  width: 100%;
  min-width: 100%;
}
#blog .blog-box {
  padding: 2rem;
  display: flex;
  gap: 4rem;
  flex-direction: column;
}
#blog .blog-box .heading {
  color: white;
}
#blog .blog-box .heading h1 {
  font-size: 3rem;
  margin-bottom: 2rem;
}
#blog .blog-box .blog-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 1rem;
}
#blog .blog-box .blog-grid .blog-card {
  height: 30rem;
  border-radius: 0.8rem;
  border: 0.1rem solid rgba(187, 182, 204, 0.3);
  box-shadow: 2px 3px 3px rgba(187, 182, 204, 0.5);
}
#blog .blog-box .blog-grid .blog-card .card-upper {
  border-radius: 0.8rem 0.8rem 0 0;
  height: 50%;
}
#blog .blog-box .blog-grid .blog-card .card-upper img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
  border-radius: inherit;
}
#blog .blog-box .blog-grid .blog-card .card-lower {
  border-radius: 0 0 0.8rem 0.8rem;
  height: 50%;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
#blog .blog-box .blog-grid .blog-card .card-lower button {
  border: 0.1rem solid #F71735;
  border-radius: 5px;
  width: 10rem;
  padding: 0.4rem;
  font-size: 1rem;
  background-color: transparent;
  color: white;
}
#blog .blog-box .blog-grid .blog-card .card-lower h1 {
  color: white;
  padding: 1rem 0 1rem 0;
}
#blog .blog-box .blog-grid .blog-card .card-lower p {
  font-weight: 100;
  font-size: 0.8rem;
  color: gray;
  padding: 1rem;
  border-top: 0.1rem solid rgba(187, 182, 204, 0.3);
}
#blog .blog-box .blog-grid .blog-card:hover {
  border-color: #ef3b36;
  transform: scale(1.02);
}

#contact {
  width: 100%;
  height: 100%;
}
#contact .contact-box {
  display: flex;
  gap: 1rem;
}
#contact .contact-box .message-side {
  width: 50%;
  display: flex;
  gap: 2rem;
  flex-direction: column;
}
#contact .contact-box .message-side .message-upper {
  display: flex;
  justify-content: space-between;
}
#contact .contact-box .message-side .message-upper h1 {
  font-size: 5rem;
  color: white;
}
#contact .contact-box .message-side .message-upper div {
  font-size: 4rem;
  -webkit-animation: emoji 1.3s linear infinite;
          animation: emoji 1.3s linear infinite;
}
#contact .contact-box .message-side .message-lower {
  font-size: 1.3rem;
  color: white;
  line-height: 1.5;
}
#contact .contact-box .input-side {
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 3rem;
}
#contact .contact-box .input-side .email-name {
  display: flex;
  justify-content: space-around;
}
#contact .contact-box .input-side .email-name .input-box {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
#contact .contact-box .input-side .email-name .input-box label {
  color: #f2fcfe;
  font-size: 1.2rem;
}
#contact .contact-box .input-side .email-name .input-box input {
  background-color: transparent;
  border: 0.05rem solid rgba(187, 182, 204, 0.5);
  font-size: 1.2rem;
  padding: 0.8rem;
  color: white;
}
#contact .contact-box .input-side .email-name .input-box input:hover {
  border: 0.05rem solid white;
}
#contact .contact-box .input-side .msg-box {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
#contact .contact-box .input-side .msg-box label {
  color: white;
  font-size: 1.2rem;
}
#contact .contact-box .input-side .msg-box textarea {
  background-color: transparent;
  border: 0.05rem solid rgba(187, 182, 204, 0.5);
  color: white;
  font-size: 1.2rem;
}
#contact .contact-box .input-side .msg-box textarea:hover {
  border: 0.05rem solid white;
}
#contact .contact-box .input-side button {
  border: 0.05rem solid rgba(187, 182, 204, 0.5);
  background: transparent;
  font-size: 1.2rem;
  padding: 0.8rem;
  width: 10rem;
}
#contact .contact-box .input-side button a {
  text-decoration: none;
  color: white;
}
#contact .contact-box .input-side button a:hover {
  color: black;
}
#contact .contact-box .input-side button:hover {
  background: white;
}

#footer {
  width: 100%;
  border-top: 0.05rem solid rgba(187, 182, 204, 0.5);
}
#footer .footer-container {
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#footer .footer-container p {
  font-weight: 800;
  font-size: 1.5rem;
  color: white;
}
#footer .footer-container .socials i {
  color: white;
  font-size: 2rem;
  padding: 0.8rem;
  margin-right: 1rem;
}
#footer .footer-container .socials i:hover {
  color: #F71735;
}

@media (max-width: 1200px) {
  body {
    background-color: pink;
  }
}
@media (max-width: 992px) {
  body {
    background-color: magenta;
  }
}
@media (max-width: 768px) {
  body {
    background-color: palegreen;
  }
}
@media (max-width: 567px) {
  body {
    background-color: red;
  }
}/*# sourceMappingURL=main.css.map */