


@media (max-width:1200px){

    body{
        background-color: pink;
    }
 
 }
@media (max-width:992px){
    html{
        font-size: 80%;
    }

    nav{
        justify-content: space-between;
        padding: 0 2%;
    }
    section{
        padding: 9rem 2%;
    }

    .email-name{
        flex-direction: column;
    }
    body{
        background-color: magenta;
    }
 
 }
@media (max-width:768px){
   
    
    body{
        
        background-color: palegreen;
    }


 
 }
@media (max-width:567px){

    html{
        font-size: 60%;
      
    }

    body{
        background-color: red;
    }
    .lang-grid{
        grid-template-columns: 100px 100px;
        grid-template-rows: repeat(100px)
    }
    .my-project-container{
        gap:1rem;
    }
    
    
    .about-container{
        flex-direction: column;
        // justify-content: center;
        align-items:center;
    }

    .project-box{
        flex-direction: column;
        gap: 2rem;
    }

    .contact-box{
        flex-direction: column;
    }
    
 }
 @media (max-width:150px ){
    body{
        background-color: yellow;
    
    }
    html{
        font-size: 20%;
    }
 }