.checkbox {
    width: 10rem;
    height: 3rem;
    background-color: #d0d0d0;
    border-radius: 30px;
    position: relative;
    color: black;
    overflow: hidden;
  }
  
  #checkbox_toggle {
    display: none;
  }
  
  .checkbox .toggle {
    width: 4.5rem;
    height: 1.9rem;
    position: absolute;
    border-radius: 30px;
    left: 0;
    right: 1;
    cursor: pointer;
    background: linear-gradient(40deg, #FF0080,#FF8C00 70%);
    transition: 0.4s;
    box-shadow: 0px 0px 10px rgb(255, 255, 20), 0px 0px 30px rgb(255, 255, 20);
  }
  
  .checkbox .slide {
    width: 10rem;
    height: 3rem;
    display: flex;
    align-items: center;
    justify-content: space-around;
    cursor: pointer;
  }
  
  .checkbox .slide .text {
    font-size: 16px;
    font-weight: 200;
    z-index: 10;
    cursor: pointer;
  }
  
  .check:checked + .checkbox .slide .toggle {
    transform: translateX(90px);
    background: linear-gradient(40deg, #8983F7, #A3DAFB 70%);
    box-shadow: -0px -0px 10px #8983F7, -0px -0px 30px #8983F7;
  }
  
  .check:checked + .checkbox .slide {
    background-color: #0a1929;
    color: #fff;
  }